/* src/MerchandisePage.module.css */
.container {
    padding: 5%;
    text-align: center;
    background-color: #D8D8D8;
}

.header {
    margin-bottom: 20px;
}

.merchandise {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

    width: 100%;
    height: 75vh;
}

.left,
.right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left {
    /* Set other styles as needed */
    /* width: 100%; */

    background-size: contain;
    background-image: url("/front.jpg");
    transition: background-image 0.3s ease-in-out;
    border: 2px solid white;
    border-radius: 12px;
    padding: 2%;
    background-repeat: no-repeat;
    background-position: center;
}

.left:hover {
    background-image: url("/back.jpg");
    animation: zoomInOut 2s linear 0s infinite alternate;

}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.12);
    }
}

.tshirtImage {
    width: 300px;
    /* Adjust the width as needed */
    height: auto;
    margin-right: 20px;
}

.details {
    text-align: left;
}

.buyButton {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .left {
        height: 16vh;
    }

    .merchandise {
        height: fit-content;
    }

    .container h2 {
        font-size: 1.2rem;
    }
}


.container h1,
.container h2 {
    font-family: 'Sofia', cursive;
    font-weight: 700;
    font-size: 2rem;
    color: #164863;
}