.card {
    position: relative;
    background-size: cover;
    /* Adjust as needed */
    background-position: center;


    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    height: 25vh;
    /* align-items: center; */

    border-radius: 10px;
    padding: 1% 8%;
    /* make all the cards in one line */
    display: inline-block;
    margin: .59%;

    cursor: pointer;
}


.card a {
    text-decoration: none;
    color: black;
}





.text {
    color: black;
    font-size: 100%;
    font-family: 'Playpen Sans', cursive;
}

@media (max-width:728px) {
    .text {
        font-size: 85%;

    }
}

@media only screen and (max-width: 600px) {
    .card {
        width: 40vw;
    }

    .text {
        /* font-size: 75%; */
        font-size: 2.5vw;
        font-weight: 200;



    }
}