.section {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #dbe1ef;
}

.main {
    /* height: 70vh; */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topHeading {
    font-family: 'sofia';
    text-align: center;
    font-weight: 800;
    font-size: 220%;
    padding-top: 4%;
    padding-left: 4%;
    color: green;
}


.left,
.right {
    position: absolute;
    top: 25px;
    height: 60vh;
    width: 50%;
    transition: transform 0.6s ease-out;
    /* background-color: #8d5757; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    transition: transform 0.6s ease-in-out;

}

.img {
    width: 70%;
    height: auto;
}

.left {
    left: 0;

}

.left:hover,
.right:hover {
    transform: scale(1.07) translateY(5%);
}

.right {
    right: 0;
}

.right p {
    border-left: 10px solid purple;
    padding: 5%;
    margin: 8%;
}

.inViewport .left {
    transform: translateX(-100%);
}

.inViewport .right {
    transform: translateX(100%);
}



@media (max-width: 768px) {
    .section {
        height: 75vh;
    }

    .img {
        width: 95%;
        height: auto;
    }



    .right p {
        border-left: 10px solid purple;
        padding: 2%;
        margin: 1%;
    }
}

@media (max-width: 450px) {
    .section {
        height: 90vh;
    }

    .topHeading {
        font-size: 100%;

    }

    .left,
    .right {
        position: absolute;
        top: 80px;
    }

    .right p {
        border-left: 3px solid purple;
        padding: 0% 1%;
        margin: 0%;
        font-size: 80%;
    }
}

@media (max-width: 300px) {
    .section {
        height: 120vh;
    }

    .left,
    .right {
        position: absolute;
        top: 140px;
    }
}