.container {
    width: 100vw;
    margin: auto;
    overflow: hidden;
    /* background-color: #545151; */
}

.slider {
    width: 95%;
    height: 100%;
    display: flex;
    /* Make sure the slider items are displayed in a row */
    transition: transform 0.5s ease;
    margin: auto;
    /* Apply smooth transition to the transform property */
}

.img {
    width: 97%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 5s ease;
    /* Apply smooth transition to the transform property */
}

/* Add a class to zoom in */
.img.zoomed {
    transform: scale(1.2);
    /* You can adjust the scale factor for the zoom effect */
}

@media only screen and (min-width: 1024px) {
    .img {
        height: 85vh;
    }
}

@media (max-width: 768px) {
    .slider {
        width: 100vw;
    }
}